---
bridge_networks:
  - name: osbr0
    subnet: {{ network_range }}
    gateway: {{ network_gateway }}
  - name: osbr1
    subnet: {{ network_range_osbr1 }}
    gateway: {{ network_gateway_osbr1 }}

# default network that should be used by all scenarios
network: osbr0

# global defaults
defaults:
  uac-sipp:
    port: {{ uac_port }}
    proxy: {{ opensips_ip }}:{{ opensips_port }}
    keys:
      domain: {{ opensips_ip }}
  uas-sipp:
    ip: {{ uas_ip }}
    port: {{ uas_port }}
    keys:
      domain: {{ opensips_ip }}
  opensips-cli:
    mi_ip: {{ opensips_ip }}
  opensips:
    ip: {{ opensips_ip }}
    image: opensips/opensips:sipssert{% if opensips_version is defined %}-{{ opensips_version }}{% endif %}
    socket: udp:{{ opensips_ip }}:{{ opensips_port }}
    stop_timeout: 5
  mysql:
    ip: {{ mysql_ip }}
    image: mysql:5.7
    label: mysql
    stop_timeout: 5
  mysql-client:
    host: {{ mysql_ip }}
