
log_level = 4
xlog_level = 4
stderror_enabled = yes

udp_workers = 4

####### Modules Section ########

#set module path
mpath = "/usr/local/lib64/opensips/modules/"

loadmodule "proto_tcp.so"
loadmodule "proto_udp.so"

#### SIGNALING module
loadmodule "signaling.so"

#### StateLess module
loadmodule "sl.so"

#### Transaction Module
loadmodule "tm.so"
modparam("tm", "fr_timeout", 5)
modparam("tm", "fr_inv_timeout", 30)
modparam("tm", "restart_fr_on_each_reply", 0)
modparam("tm", "onreply_avp_mode", 1)
modparam("tm", "auto_100trying", 0)

#### SIP MSG OPerationS module
loadmodule "sipmsgops.so"

#### MAX ForWarD module
loadmodule "maxfwd.so"

loadmodule "topology_hiding.so"
modparam("topology_hiding", "th_contact_encode_param_password", "thinfo:ToPoCtPaSS")
modparam("topology_hiding", "th_use_param", "thinfo")

socket = tcp:203.0.100.10:5060

socket = udp:10.100.20.40:5062

route
{
  route(main);
  exit;
}

route[get_call_info] {
  if ($socket_in == "tcp:203.0.100.10:5060") {
    setflag("INBOUND");
  } else {
    setflag("OUTBOUND");
  }
}

route[is_sequential] {
  if (!has_totag()) {
    return -1;
  } else {
    return 1;
  }
}

route[inbound_socket_switch] {
  $du = "sip:10.50.100.10:8060;transport=udp";
  $socket_out = "udp:10.100.20.40:5062";
}

onreply_route[reply] {
  xlog("\n$mb");
}

route[main] {
  t_newtran();
  t_on_reply("reply");

  route(get_call_info);

  if (!route(is_sequential)) {
    if (isflagset("INBOUND")) {
      route(inbound_socket_switch);
    }

    topology_hiding("U");
  } else {
    if (!topology_hiding_match()) {
      t_reply(500, "Error");
      exit;
    }
  }

  t_relay();
}