# Store private key in specific configuration file.
# This file is deployed by ansible, and private key is crypted by ansible-vault
# it's a opensips's user read only file

route[man_private_key]
{
    # Not secret private key, Self-Signed STIR/SHAKEN Certificate
    $avp(privKey) = "-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIIOvgr23lbJ5rIOhiF+LR/VU4piEc1EYLT1CF5SN5HtZoAoGCCqGSM49
AwEHoUQDQgAEuyQP0hteN1oKDUxo/2zvTp+0ppJ2IntNSdu36QFsUPDsCWlr4iTU
MsjPtD+XQ58xQEf6n/zTE9cwZhs46NJWdA==
-----END EC PRIVATE KEY-----";
}