name: OpenSIPS 3.3 Conformance Tests

on:
  # Triggers the workflow on all push or pull request events
  push:
  pull_request:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout SIPssert repo
      uses: actions/checkout@v3
      with:
        repository: 'OpenSIPS/SIPssert'
        path: sipssert

    - name: Install SIPssert
      working-directory: sipssert
      run: python3 setup.py install --user clean

    - name: Checkout Tests repo
      uses: actions/checkout@v3
      with:
        path: tests

    - name: Run All Tests
      working-directory: tests
      run: ./run-all.sh

    - name: Resolve logs path
      if: always()
      working-directory: tests
      run: echo "LOGS_PATH=$(readlink -f logs/latest)" >> $GITHUB_ENV

    - name: Publish logs
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: sipssert-logs
        path: ${{ env.LOGS_PATH }}
